/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Viga&display=swap');

/* HEADER */
/* .wrapper {
	
	margin: 0 auto;
} */
* body {
    max-width: 880px;
	margin: 0 auto;
}

.header {
	/* background-color: cornsilk; */
	width: 100%;
	padding-bottom: 5px;
}

nav {
	color: grey;
	display: flex;
}

nav a {
	text-decoration: none;
	padding: 20px 48px 10px 5px;
	color: rgb(88, 87, 87);
	margin-bottom: 5px;
	font-size: 14px;
}

.logo {
	padding-top: 5px;
	padding-bottom: 0;
	padding-left: 115px;
}

hr {
    margin: 25px 0;
}

h1 {
	font-size: 48px;
}

h3 {
	font-family: 'Viga', sans-serif;
    font-size: 22px;
    padding-top: 10px;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.hero h1 {
    padding: 15px 0 0 0;
}

.hero p {
    font-size: 12px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 5px 0;
}

.one, .two, .three, .four, .five, .six {
    background-color: rgb(228, 227, 227);
    justify-content: space-around;
    width: 48%;
    height: 217px;
    border: 0.5px solid black;
    padding: 5px 15px;
    margin: 15px 15px 15px 0;
}

button {
    background-color: white;
    padding: 5px 25px;
    font-size: 11px; 
    margin: 10px 0;
}

.about {
    display: flex;
}

div.intro, .services-info-img {
    flex-direction: column;
    /* width: 45%; */
}

div.intro p {
    margin-right: 15px;
    margin-bottom: 20px;
}

.services-info-img {
    align-self: stretch;
}

ul li {
   list-style-type: disc; 
   margin-left: 5px;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 12px;
   line-height: 35px;
}

footer h4 {
    font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12px;
    text-align: center;
    padding: 30px 0 15px 0;
}